@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;600;700;800&family=Poppins&family=Roboto:wght@700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* this is where i styled the scroll property for the body */
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(99, 99, 99);
  outline: 1px solid slategrey;
  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: brown;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

h1 {
  color: wheat;
}

span {
  color: #000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-items a {
  color: wheat;
  text-decoration: none;
  font-size: 1.2rem;
  padding-right: 20px;
}

#search {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #0a0a0a;
}

#search:focus {
  border: none;
  outline: 1px solid #464646;
  color: brown;
}

footer {
  background-color: wheat;
  text-align: center;
  padding: 15px 0;
  position: relative;
}

.go-up a {
  color: brown;
  font-size: 1.5rem;
}

/* stylings for the display items */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 0;
  padding-right: 20px;

  /* align-content: center; */
  margin: auto;

  /* padding: auto; */
}

h2 {
  text-align: center;
}

img {
  width: 370px;
  height: 500px;
}

.movie-cards {
  /* text-align: center; */
  background-color: beige;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-cards:hover {
  box-shadow: 0 0 4px #747474ab;
}

.movie-title {
  text-align: center;
  color: #464646;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5rem;
}

.movie-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: beige;
  border: 1px solid brown;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: wheat;
}

button:active {
  background-color: brown;
  color: #fff;
}

.fa {
  cursor: pointer;
}

.fa:hover {
  color: red;
}



.description {
  display: flex;
  flex-direction: row;
  flex: 2;
  gap: 30px;
}

.comments {
  display: flex;
  gap: 25px;
}

.mInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}

.D-description {
  display: block;
  gap: 20px;
}

#comment {
  display: block;
  outline: 0;
  width: 15rem;
  padding: 10px;
  border: 1px solid brown;
  border-radius: 4px;
}

.popup {
  transition: 200ms ease-in-out;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 80%;
  height: 99%;
  padding: 2%;
  display: flex;
  background-color: white;
  z-index: 10;
}

.summary-tag h1 {
  color: brown;
  padding: 0;
  margin: 0;
}

.summary-tag {
  margin-right: 20px;
  text-align: justify;
}

.image {
  width: 250px;
  height: 370px;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  transition: 200ms ease-in-out;
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* this is where i styled the scroll property for the comments */
.D-comments {
  overflow-y: scroll;
  max-height: 170px;
  margin: 0;
  transform: translateX(-40px);
  cursor: grab;
}

.D-comments::-webkit-scrollbar {
  width: 1em;
}

.D-comments::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.D-comments::-webkit-scrollbar-thumb {
  background-color: grey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

.D-comments:active {
  cursor: grabbing;
}

.D-comments::-webkit-scrollbar-thumb:hover {
  background-color: rgb(99, 99, 99);
  outline: 1px solid slategrey;
  border-radius: 10px;
}

#fname {
  outline: 0;
  width: 15rem;
  padding: 10px;
  border: 1px solid brown;
  border-radius: 4px;
}

h3 {
  margin-left: 33px;
}

.summary {
  height: 200px;
  overflow-x: scroll;
}

.submit {
  width: 100%;
  padding: 7px;
  background-color: beige;
  border: 1px solid brown;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.submit:hover {
  background-color: bisque;
}

.submit:active {
  background-color: brown;
  color: #fff;
}

/* For mobile screens */
@media screen and (max-width: 768px) {
  .mobile {
    color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
  }

  .card-container {
    display: block;
    margin: auto;
  }

  .nav-items {
    display: none;
  }

  img {
    width: 300px;
    height: 400px;
  }

  #movie-img {
    width: 130px;
    height: 200px;
  }

  .summary-tag {
    display: none;
  }

  #fname {
    outline: 0;
    width: 8rem;
    border: 1px solid brown;
    border-width: 0 0 1px;
  }

  #comment {
    outline: 0;
    width: 8rem;
    height: 2.5rem;
    padding-bottom: 0px;
    border-width: 0 0 1px;
    transition: all 0.5s ease-in-out;
  }

  #comment::placeholder {
    padding: 0;
    font-family: 'Inter';
  }

  .remove {
    display: none;
  }

  .mInfo {
    padding: 0;
    margin-left:10px;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
  }

  .description {
    flex: none;
  }
 
  .D-comments {
    overflow-y: scroll;
    max-height: 170px;
    max-width: 300px;
    margin: 0;
    padding: 10px;
    background-color: beige;
    transform: translateX(0px);
    cursor: grab;
    font-size: 0.4rem;
  }

 

}