@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;600;700;800&family=Poppins&family=Roboto:wght@700&display=swap');

*, *::after, *::before {
   box-sizing: border-box;
  }

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: brown;
  padding: 0 20px;
}


h1 {
  color: wheat;
}

span {
  color: #000;
}

li {
  list-style: none;
}

.nav-items a {
  color: wheat;
  text-decoration: none;
  font-size: 1.2rem;
  padding-right: 20px;
}

#search {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #0a0a0a;
}

#search:focus {
  border: none;
  outline: 1px solid #464646;
  color: brown;
}

footer {
  background-color: wheat;
  text-align: center;
  padding: 15px 0;
  position: relative;
}

.go-up a {
  color: brown;
  font-size: 1.5rem;
}

.description {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 30px;
}

.comments {
  display: flex;
  gap: 25px;
}

.mInfo {
  flex: 1;
  background-color: #F7F7F7;
}

.D-description {
  display: flex;
  gap: 20px;
}

#comment {
  display: block;
}

.popup {
  transition: 200ms ease-in-out;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 80%;
  padding: 2%;
  display: flex;
  background-color: white;
  z-index: 10;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  transition: 200ms ease-in-out;
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.D-comments {
  overflow:scroll;
  max-height: 150px;
}

h3 {
  margin-left: 33px;
}